In [399]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk

In [400]:
sk.__version__ == '0.17.1'

True

In [401]:
fname = '../processed/train_1_std.csv'

In [402]:
df = pd.read_csv(fname, index_col=['patient', 'sequence'])

In [403]:
df['patient'] = df.index.get_level_values('patient')

In [404]:
df.head()

                  Unnamed: 0  class    ch1_std    ch2_std    ch3_std  \
patient sequence
1       741                0      0  30.001209  36.598148  53.995872
        391                0      0  29.849613  33.269840  31.691141
        60                 0      0  39.175552  44.239334  45.325638
        53                 0      1  29.169195  33.420586  31.578693
        185                0      0  40.642078  42.597218  50.885082

                    ch4_std    ch5_std    ch6_std    ch7_std    ch8_std  \
patient sequence
1       741       71.242851  36.546936  32.876976  37.591618  30.840115
        391       49.655483  31.573727  26.656073  33.530617  25.830921
        60        67.734123  33.727585  31.362070  52.725853  32.225368
        53        49.062374  30.313606  25.454767  41.017319  23.387936
        185       68.994377  63.758125  42.572964  48.451591  37.481049

                    ch9_std   ch10_std   ch11_std    ch12_std    ch13_std  \
patient sequence
1       741       34.531139  64.884460  53.472511   73.647881  109.620033
        391       37.151855  39.520374  42.006302   46.067116   59.878780
        60        37.673050  59.527214  54.226551   84.626839   97.050232
        53        25.741819  33.432869  27.790684   29.381090   70.411804
        185       48.073223  60.093315  68.749359  127.105988  121.595505

                   ch14_std   ch15_std   ch16_std  patient
patient sequence
1       741       74.800835  56.921181  32.968693        1
        391       58.723934  50.260895  32.333519        1
        60        69.241440  72.718010  49.215675        1
        53        46.871876  48.624657  24.491415        1
        185       84.184784  90.390167  47.828560        1

In [405]:
df.patient.describe()

count    6041.00000
mean        2.18093
std         0.76093
min         1.00000
25%         2.00000
50%         2.00000
75%         3.00000
max         3.00000
Name: patient, dtype: float64

In [406]:
y = df['class']

In [407]:
feature_names = [col for col in df.columns if col.startswith('ch') or col == 'patient']
list(enumerate(feature_names))

[(0, 'ch1_std'),
 (1, 'ch2_std'),
 (2, 'ch3_std'),
 (3, 'ch4_std'),
 (4, 'ch5_std'),
 (5, 'ch6_std'),
 (6, 'ch7_std'),
 (7, 'ch8_std'),
 (8, 'ch9_std'),
 (9, 'ch10_std'),
 (10, 'ch11_std'),
 (11, 'ch12_std'),
 (12, 'ch13_std'),
 (13, 'ch14_std'),
 (14, 'ch15_std'),
 (15, 'ch16_std'),
 (16, 'patient')]

In [408]:
X = df[feature_names]

In [409]:
from sklearn import cross_validation

In [410]:
X_train, X_test, y_train, y_test =  cross_validation.train_test_split(X, y, test_size=0.8, random_state=0)

In [411]:
from sklearn import tree

In [412]:
clf = tree.DecisionTreeClassifier()

In [413]:
clf = clf.fit(X_train, y_train)

In [414]:
clf.score(X_test, y_test)

0.88909579971032482

In [415]:
tree.export_graphviz(clf, out_file='tree.dot')

In [416]:
from sklearn.ensemble import RandomForestClassifier

In [417]:
clf_forest = RandomForestClassifier()

In [418]:
clf_forest = clf_forest.fit(X_train, y_train)

In [419]:
clf_forest.score(X_test, y_test)

0.92178770949720668

# Classify with all train data for submission

In [420]:
#clf_forest_all = clf_forest.fit(X, y)
clf_forest_all = clf.fit(X, y)

In [421]:
clf_forest_all.score(X_test, y_test)

0.99751707014276847

In [435]:
fname = '../processed/test_1_std.csv'

In [436]:
df_sub = pd.read_csv(fname, index_col=[1, 2])

In [437]:
df_sub['patient'] = df_sub.index.get_level_values('patient')

In [438]:
df_sub.describe()

,Unnamed: 0,ch1_std,ch2_std,ch3_std,ch4_std,ch5_std,ch6_std,ch7_std,ch8_std,ch9_std,ch10_std,ch11_std,ch12_std,ch13_std,ch14_std,ch15_std,ch16_std,patient
count,1908.0,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000,1908.000000
mean,0.0,46.544194,41.858337,33.499986,38.973543,39.614467,42.644714,37.147674,40.061862,33.396188,36.735170,30.537075,33.015852,36.206134,37.435151,31.390745,30.095346,2.248428
std,0.0,15.712317,15.883839,10.798497,18.513934,15.388477,16.914235,14.048299,14.918514,12.439533,19.566093,12.711446,19.281434,16.984555,14.934452,14.121673,9.519751,0.642918
min,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.0,35.592843,33.275070,26.218339,30.260492,27.627309,32.308621,28.113443,30.045852,25.796482,24.185089,24.107028,22.613567,26.359282,27.942963,23.745563,25.564373,2.000000
50%,0.0,47.613304,40.744572,34.626486,36.852621,42.508890,42.402687,36.574831,38.552090,30.684912,29.554699,27.562990,26.915212,31.755081,34.498133,26.910230,28.299054,2.000000
75%,0.0,57.597687,48.591348,38.841449,42.120513,49.579879,51.155821,46.267823,49.035939,40.715654,45.758031,33.730479,38.552855,41.291926,44.456893,36.671268,34.379143,3.000000
max,0.0,103.884125,144.490280,72.095688,130.380997,91.363213,130.415497,86.620995,105.983322,84.809578,116.491692,88.339867,152.924759,111.539627,95.627960,95.114655,66.927780,3.000000

In [439]:
X_sub = df_sub[feature_names]

In [440]:
df_sub['predicted_class'] = clf_forest_all.predict(X_sub)

In [441]:
df_sub.head()

                  Unnamed: 0    ch1_std    ch2_std    ch3_std     ch4_std  \
patient sequence
1       65                 0  32.889275  38.808144  47.622635   89.060455
        170                0  34.682610  45.163467  53.935089  112.369675
        2                  0  26.233797  33.873650  39.946350   70.137772
        211                0  37.646885  48.481514  59.472652  115.521790
        16                 0  31.988363  37.469818  38.470387   74.591270

                    ch5_std    ch6_std    ch7_std    ch8_std    ch9_std  \
patient sequence
1       65        41.651985  35.953571  41.696873  53.415058  41.060280
        170       48.900314  41.770973  51.117962  54.301083  53.065399
        2         33.096092  31.394903  31.886017  37.874424  33.565372
        211       51.417587  43.347759  54.501293  66.106453  54.484615
        16        37.817921  29.824089  35.416916  45.146580  41.211319

                    ch10_std   ch11_std    ch12_std   ch13_std   ch14_std  \
patient sequence
1       65        114.063362  56.787312   59.822887  96.437332  86.869263
        170        99.825851  82.284698  137.252090  90.898674  74.906319
        2          88.531799  46.635372   57.745369  59.586040  59.716976
        211       102.296196  88.339867  152.924759  99.217773  83.829041
        16         65.366302  49.781918   31.579468  67.788452  74.593742

                   ch15_std   ch16_std  patient  predicted_class
patient sequence
1       65        67.066429  35.295109        1                0
        170       87.960327  53.753510        1                0
        2         54.871052  30.708910        1                0
        211       94.441162  58.176598        1                0
        16        44.673256  32.227440        1                0

In [442]:
sample_sub = pd.read_csv('../sample_submission_new.csv')

In [443]:
sample_sub.head()

          File  Class
0  new_1_1.mat      0
1  new_1_2.mat      0
2  new_1_3.mat      0
3  new_1_4.mat      0
4  new_1_5.mat      0

In [444]:
from seizureIO_testdata import get_patient_seq

In [445]:
def get_prediction(fname, current_value, df):
    pat_seq = get_patient_seq(fname)[1:]
    patient, sequence = [int(x) for x in pat_seq]
    try:
        row = df.loc[(df.index.get_level_values('patient') == patient) & (df.index.get_level_values('sequence') == sequence)]
        return int(row['predicted_class'].values[0])
    except Exception as exc:
        print((fname, exc))
        return current_value

In [446]:
df_sub.loc[(df_sub.index.get_level_values('patient') == 2) & (df_sub.index.get_level_values('sequence') == 1)]['predicted_class']

patient  sequence
2        1           0
Name: predicted_class, dtype: int64

In [447]:
df_sub.loc[(df_sub.index.get_level_values('patient') == 1)]['predicted_class'].describe()

count    216.000000
mean       0.212963
std        0.410353
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: predicted_class, dtype: float64

In [448]:
tmp = sample_sub.apply(lambda row: get_prediction(row['File'], row['Class'], df_sub), axis=1)

In [449]:
sample_sub['Class'] = tmp

In [450]:
sample_sub.to_csv('forest_std_submission.csv', index=False)